<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GIDClientID</key>
    <string>1023261452330-j561feqtbdpcbrobphvp90af8v3mncl4.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.1023261452330-j561feqtbdpcbrobphvp90af8v3mncl4</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>


